<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CustomerRegistrationServlet</servlet-name>
        <servlet-class>feedme.controller.CustomerRegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>feedme.controller.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRestaurant</servlet-name>
        <servlet-class>feedme.controller.AddOrEditRestaurantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveRestaurantServlet</servlet-name>
        <servlet-class>feedme.controller.RemoveRestaurantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditRestaurantServlet</servlet-name>
        <servlet-class>feedme.controller.EditRestaurantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUsersServlet</servlet-name>
        <servlet-class>feedme.controller.EditUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePageServlet</servlet-name>
        <servlet-class>feedme.controller.HomePageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategoryServlet</servlet-name>
        <servlet-class>feedme.controller.AddMenuCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddOrEditMenuServlet</servlet-name>
        <servlet-class>feedme.controller.AddOrEditMenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AEODMenuItemServlet</servlet-name>
        <servlet-class>feedme.controller.AddOrEditMenuItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddOrDeleteCategory</servlet-name>
        <servlet-class>feedme.controller.AddOrDeleteCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RasturentProfileServlet</servlet-name>
        <servlet-class>feedme.controller.RasturentProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerRegistrationServlet</servlet-name>
        <url-pattern>/CustomerRegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRestaurant</servlet-name>
        <url-pattern>/AddRestaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveRestaurantServlet</servlet-name>
        <url-pattern>/RemoveRestaurantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditRestaurantServlet</servlet-name>
        <url-pattern>/EditRestaurantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUsersServlet</servlet-name>
        <url-pattern>/EditUsersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePageServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategoryServlet</servlet-name>
        <url-pattern>/AddCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOrEditMenuServlet</servlet-name>
        <url-pattern>/AddOrEditMenuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AEODMenuItemServlet</servlet-name>
        <url-pattern>/AEODMenuItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResturentsServlet</servlet-name>
        <url-pattern>/resturents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOrDeleteCategoryServlet</servlet-name>
        <url-pattern>/add-resturent-category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RasturentProfileServlet</servlet-name>
        <url-pattern>/resturent</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index</welcome-file>
        <welcome-file>website/index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
