<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddRestaurant</servlet-name>
        <servlet-class>feedme.controller.AddOrEditRestaurantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveRestaurantServlet</servlet-name>
        <servlet-class>feedme.controller.RemoveRestaurantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUsersServlet</servlet-name>
        <servlet-class>feedme.controller.EditUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePageServlet</servlet-name>
        <servlet-class>feedme.controller.HomePageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategoryServlet</servlet-name>
        <servlet-class>feedme.controller.AddMenuCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddOrEditMenuServlet</servlet-name>
        <servlet-class>feedme.controller.AddOrEditMenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddOrEditMenuItemServlet</servlet-name>
        <servlet-class>feedme.controller.AddOrEditMenuItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddOrDeleteCategory</servlet-name>
        <servlet-class>feedme.controller.AddOrDeleteCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RasturentProfileServlet</servlet-name>
        <servlet-class>feedme.controller.RasturentProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerReportsServlet</servlet-name>
        <servlet-class>feedme.controller.ManagerReportsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddRestaurant</servlet-name>
        <url-pattern>/AddRestaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveRestaurantServlet</servlet-name>
        <url-pattern>/RemoveRestaurantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUsersServlet</servlet-name>
        <url-pattern>/EditUsersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePageServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategoryServlet</servlet-name>
        <url-pattern>/AddCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOrEditMenuServlet</servlet-name>
        <url-pattern>/AddOrEditMenuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOrDeleteCategoryServlet</servlet-name>
        <url-pattern>/add-resturent-category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RasturentProfileServlet</servlet-name>
        <url-pattern>/resturent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerReportsServlet</servlet-name>
        <url-pattern>/manager/order_reports</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerRestaurantOrdersServlet</servlet-name>
        <url-pattern>/manager/orders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerRestaurantCustomersServlet</servlet-name>
        <url-pattern>/manager/customers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerRestaurantMenuesServlet</servlet-name>
        <url-pattern>/manager/menus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOrEditMenuItemServlet</servlet-name>
        <url-pattern>/manager/menu-item-management</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>AdminRestaurantsServlet</servlet-name>
        <url-pattern>/admin/resturents</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>AdminManagersServlet</servlet-name>
        <url-pattern>/admin/managers</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index</welcome-file>
        <welcome-file>website/index.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
    <context-param>
        <param-name>user</param-name>
        <param-value>FeedMeOrg@gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>pass</param-name>
        <param-value>feedme12345</param-value>
    </context-param>
    <!-- SSL settings. only allow HTTPS access to JIRA -->
<!--    <security-constraint>
        <display-name>feedMe</display-name>
        <web-resource-collection>
            <web-resource-name>Entire Application</web-resource-name>
            <description/>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>-->
    
<!--    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>Intranet</realm-name>
  </login-config>
  
  <security-constraint>
   <web-resource-collection>
      <web-resource-name>Business Plan</web-resource-name>
      <url-pattern>/admin/*</url-pattern>
   </web-resource-collection>
   <auth-constraint>
      <role-name>admin</role-name>
   </auth-constraint>
</security-constraint>

    <security-role>
	<role-name>admin</role-name>
    </security-role>-->
</web-app>
